.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav a {
    color: #828282;
    font-size: 0.93333rem;
    font-weight: 300;
    padding: 1rem 0;
}

.nav .logo svg {
    fill: #eb0028;
}

.nav .link-nav a{
    margin: 0 2.2rem;
    border-bottom: white solid 2px;
}

 .nav .link-nav a:hover {
    border-bottom: #eb0028 solid 2px;
}

.nav .auth a {        
    display: inline-block;
    border-bottom: white solid 2px;
    margin: 0 1.2rem;
}

.nav .auth a:hover {
    border-bottom: #828282 solid 2px;
}

.nav .auth a svg {
    fill: #828282;
}

.slider {
    background-image: url(https://image01.oneplus.cn/shop/201809/30/1635/4cb3486e8d48c78737b5f248a9873eac.jpg);
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.slider .container {
    display: flex;
}

.slider .content {
    margin: 250px 150px;
}

.slider .title {
    font-size: 1.6rem;
    font-family: SlateForOnePlusLight;
}

.slider .point {
    font-size: 3.2rem;
}

.slider .join {
    margin: 20px 0;
}

.slider .join a {
    border: 1px solid #fff;
    display: inline-block;
    height: 3.33333rem;
    line-height: 3rem;
    color: inherit;
    padding: 0 3.3333rem;
}

.arrow-left,
.arrow-right {
    width: 3.33333333333rem;
    height: 3.33333333333rem;
    border-radius: 50%;
    background: rgba(216, 216, 216, 0.2);
    transition: background-color 0.5s ease;
    position: absolute;
}

.arrow-left::before,
.arrow-right::before {
    content: '';
    display: block;
    border-left: 2px solid #101920;
    border-top: 2px solid #101920;
    opacity: 0.5;
    transition: 0.25s;
    width: 0.87rem;
    height: 0.87rem;
    position: absolute; 
}

.arrow-left:hover,
.arrow-right:hover{
    background-color: rgba(216, 216, 216, 0.8);
}

.arrow-left::before {
    left: 1.4rem;
    top: 1.2666666667rem;
    transform: rotate(-45deg);
}

.arrow-right::before {
    left: 1.06666666667rem;
    top: 1.2666666667rem;
    transform: rotate(135deg);
}

.arrow-left {
    left: 4%;
    top: 50%
}

.arrow-right {
    right: 4%;
    top: 50%
}

.active {
    display: flex;
    flex-wrap: wrap;
}

.active a {
    color: inherit;
    display: block;
}

.active .item {
    position: relative;
}

.active img {
    max-width: 100%;
    display: block;
}

.active span {
    position: absolute;
    font-weight: 400;
    font-size: 1.6rem;
    top: 7.8125%;
    left: 5.46875%;
}

.shot {
    background: url(https://image01.oneplus.cn/shop/201809/26/880/8070f60cb10b64a0bcf03d98242947ca.jpg) no-repeat center;
    background-size: cover;
    height: 37.5vw;
    display: flex;
    text-align: center;
}

.shot .container {
    margin: auto;
}

.shot .container .title {
    font-size: 3.2rem;
    color: #fff;
}

.shot .container button {
    width: 130px;
    height: 45px;
    line-height: 1.1;
    cursor: pointer;
    font-size: 0.9333333rem;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    text-align: center;
    transition: color .15s ease 0s;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
}

.shot .container button:hover {
    color: #000;
}

.shot .container button:before {
    content: "";
    width: 0px;
    height: 45px;
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #fff;
    transition: width .15s ease 0s;
    z-index: -1;
}

.shot .container button:hover:before {
    width: 130px;
}

.card-group {
    background: #f6f6f6;
    overflow: hidden;
}

.card-group .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 90px;
}

.card-group .card {
    background: #fff;
}

.card-group .card:hover {
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
    transform: translate3d(0,-2px,0);
    transition: all .3s cubic-bezier(.55,0,.1,1);
}

.card-group .card .desc {
    margin: 2rem 1.5rem 3rem 1.5rem;
} 

.card-group .card h4 {
    font-weight: 400;
    line-height: 2;
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.card-group .card p {
    font-size: 0.93333rem;
    line-height: 1.5;
    margin: 0;
    color: #828282;
}

.service {
    border-bottom: 1px solid #e4e4e4;
}

.service .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service .cat {
    padding: 35px 0;
}

.service .cat a {
    color: #565b62;
    display: inline-block;
}

.service .cat .icon {
    display: block;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    margin: 0 auto 20px auto ;
}

.service .cat .i-7{
    background-image: url(https://statics.oneplus.cn/v2/img/common/serviceIcons-sd81bbaa639.png);
    background-position: 0 -400px;
}

.service .cat .i-15{
    background-image: url(https://statics.oneplus.cn/v2/img/common/serviceIcons-sd81bbaa639.png);
    background-position: 0 0;
}

.service .cat .i-30{
    background-image: url(https://statics.oneplus.cn/v2/img/common/serviceIcons-sd81bbaa639.png);
    background-position: 0 -240px;
}

.service .cat .i-99{
    background-image: url(https://statics.oneplus.cn/v2/img/common/serviceIcons-sd81bbaa639.png);
    background-position: 0 -560px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.footer .contact > *,
.footer .contact .tel,
.footer .link-group .title {
    font-size: 1.06666667rem;
    margin: 20px;
}

.footer .link-group a {
    display: block;
    color: #828282;
    font-size: 14px;
    margin: 20px;
}

.footer .contact {
    text-align: center;
}

.footer .contact .tel {
    font-size: 1.333333333rem;
    font-weight: 300;
}

.footer .contact button {
    width: 100%;
    margin: 0;
    color: #828282;
    background: none;
    line-height: 1.2;
    height: 3.5em;
    background-color: transparent;
    border: #101920 1px solid;
}

.footer .contact .work-time {
    color: #828282;
}

.meta {
    background-color: #f9f9f9;
    overflow: hidden;
}

.meta .info,
.meta .verify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meta .info {
    padding: 50px 30px;
}

.meta .info .text-left a {
    color: #101920;
    font-weight: 300;
}

.meta .info .text-right a {
    color: #828282;
    font-size: 0.866666667rem;
    margin: 0 10px;
}

.meta .verify {
    padding: 30px;
}

.meta .verify {
    border-top: 1px solid rgba(0,0,0,.1);
}

.meta .verify .text-left div {
    color: #999;
    font-size: o.8rem;
}

.meta .verify .text-left a {
    padding: 10px 0;
    color: #101920;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .footer .link-group,
    .footer .contact,
    .meta .col-sm-24 {
        text-align: center;
    }

    .card {
        margin-top: 20px;
    }

    .shot .container .title {
        font-size: 1.5rem;
    }

    .shot .container button {
        width: 90px;
        height: 30px;
        line-height: 1.1;
        cursor: pointer;
        font-size: 0.7rem;
        border: 2px solid #fff;
        background: none;
        color: #fff;
        text-align: center;
        margin-top: 2rem;   
    }

    .shot .container button:before {
        display: none;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .slider .title {
        font-size: 1.5rem;
    }

    .slider .point {
        font-size: 1.5rem;
    }

    .slider .join {
        font-size: 0.7rem;
    }

    .slider .join a {
        border: 1px solid #fff;
        display: inline-block;
        height: 2rem;
        line-height: 1.5rem;
        color: inherit;
        padding: 0 2rem;
    }
}