/* nav css */

.nav {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(26,26,26,.001);
}


.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .container a {
    padding: 1rem 0;
    color: #444;
    font-weight: 600;
}

.nav a:hover {
    color: #111;
}

.nav form {
    position: relative;
}

.nav form input {
    outline: none;
    padding: 3px 18px;
    border: 1px solid #ddd;
    border-radius: 3px;

}

.nav form i {
    position: absolute;
    left: 2px;
    top: 3px;
}

/* prom css */

.prom {
    background: #040507;
    overflow: hidden;
}

.prom .title {
    font-size: 30px;
    font-weight: 300;
    color: #ddd;
    margin-top: 4rem;
    padding: 0.5rem;
}

.prom .feature {
    padding: 2rem;
    color: #1cd4fc;
    font-size: 13px;
}

.prom .imge {
    display: flex;
}

/* cat css */

.cat {
    margin-top: 4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.4rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid #ddd;
}

.header .title {
    font-size: 25px;
    font-weight: 600;
    color: #444;
}

.header .more {
    font-size: 13px;
    color: #444;
}

/* card css */

.card-group {
    display: flex;
    justify-content: space-between;
}


.card {
    margin-top: 1rem;
}

.card a:hover {
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
    transform: translate3d(0,-2px,0);
    transition: all .8s cubic-bezier(.55,0,.1,1);
}


.card .title {
    font-size: 14px;
    color: #444;
    margin: 1rem 0.3rem;
}

.card .desc {
    font-size: 13px;
    color: #666;
    margin: 1rem 0.3rem;
}


.card {
    padding: 0 1rem;
}