/* nav css */

.nav {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(26,26,26,.001);
}


.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav .container a {
    padding: 1rem 0;
    color: #666;
    font-weight: 600;
}

.nav a:hover {
    color: #111;
}

.nav form {
    position: relative;
}

.nav form input {
    outline: none;
    padding: 3px 18px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.nav form i {
    position: absolute;
    left: 2px;
    top: 3px;
}