* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 15px;
}

img {
    width: 100%;
}

.container {
    max-width: 800px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

a {
    text-decoration: none;
}