/* top 样式 */

#top {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

#top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
}

#top .logo {
  width: 1.8rem;
}

#top img {
  vertical-align: middle;
}

#top input{
  padding: .3rem 1rem;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 1rem;
  width: 150px;
  outline: none;
}

#top .left > *,
#top .right a,
#top .right .loggedin span {
  display: inline-block;
  margin: 0 .5rem;
  color: inherit;
}

#top .left > *:hover,
#top .right a:hover,
#top .right .loggedin span:hover {
    cursor: pointer;
    color: #999;
}

/* main 样式 */

#main {
  background-color: #e2e2e2;
  padding: 1rem 0;
}

#main .container {
    padding: 0 .5rem;
}

#main .section {
    background-color: #fff;
    border-radius: 3px;
    width: 68%;
    display: inline-block;
    vertical-align: top;
}

#main .side {
    padding-left: 1.8rem;
    width: 32%;
    display: inline-block;
}

#main .side .box {
    background-color: #fff;
    border-radius: 3px;
}

/* sign up 和 log in 样式 */

#main .error {
    color: #b10;
    font-size: .9rem;
}

#main .section .header {
    border-bottom: 1px solid #e2e2e2;
    padding: .5rem;
}

form{
    margin: 8% 15%;
}

form .input-control label > *{
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

form input {
    padding: .4rem;
}

form button {
    width: 100%;
    margin: 1rem 0;
    padding: .4rem;
}

#main .side .box .header {
    font-weight: bold;
    padding-bottom: .2rem;
    border-bottom: 1px solid #e2e2e2;
    padding: .5rem;
}

#main .side .box .intro {
    padding-bottom: .2rem;
    padding: .5rem;
    color: #666;
}

/* setting 样式 */

#main .side-left {
    padding-right: 1.8rem;
    width: 20%;
    display: inline-block;
}

#main .side-left .box-left {
    background-color: #fff;
    border-radius: 3px;
}

#main .side-left .box-left .header {
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    padding: .5rem;
}

#main .side-left .box-left a{
    display: block;
    color: inherit;
    padding: .5rem 1rem;
    margin: .3rem 0;
    color: #444;
    font-size: .9rem;
}

#main .side-left .box-left a:hover {
    background-color: #ddd;
}

/* 选中样式 */
.current {
    background-color: #eee;
    border-left: 3px solid #1b0;
    border-right: 3px solid #1b0; 
}

#main .section-right {
    background-color: #fff;
    border-radius: 3px;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

#main .section-right .setting .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;  
}

#main .section-right .setting .header .title {
    margin: .3rem .5rem;
    padding: .2rem .5rem;
    border-left: 2px solid #1b0;
    font-weight: bold;
}

#main .section-right .setting .header .edit {
    margin: .4rem 1rem;
    padding: .1rem .5rem;
    font-size: .9rem;
    outline: 0;
    background: #fff;
    cursor: pointer;
}

#main .section-right .setting .header .edit:hover {
    background: #eee;
}

#main .section-right .setting .header .editActive {
    background: #eee;
}

#main .section-right .setting table {
    margin: 0 1.5rem;
}

#main .section-right .setting td {
    padding: .5rem .3rem;
    
}

#main .section-right .setting td:first-child {
    text-align: right;
}

#main .section-right .setting td [readonly] {
    border: 0;
    outline: 0;
}

#main .section-right .setting td button {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    border: 1px solid rgba(80,80,90,.2);
    border-bottom-color: rgba(80,80,90,.35);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
}

#main .section-right .setting td button:active:enabled {
    background-color: #e2e2e2;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(66,66,77,.1);
}

#main .section-right .setting input {
    font-size: 1rem;
}

/* fieldset disabled 样式 */

fieldset {
    border: 0;
    margin: 0;
}

[disabled] {
    opacity: .3;
}
/* footer 样式 */

#footer {
    margin: 1rem 0;
}

#footer .link-group a {
    display: inline-block;
    margin: 0 .5rem;
    color: gray;
    font-weight: bold;
}