:root {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

i {
    padding-right: .2rem;
}

.card {
  margin-bottom: 1rem;
  border: 2px solid #eee;
}

.result .card:hover,
.card-list .card:hover {
  border-color: #409eff;
}

.error {
  color: #e10;
  font-size: 90%;
}

.el-carousel {
  overflow: hidden;
}



